<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gordian - Pick a Seat</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Gordian - API Usage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4 text-center text-lg-left">Pick a Seat</h1>

        <div class="row text-center text-lg-left">
            <h3>Hello {{name}}.</h3>
            <br>
            <h4>You have {{adults}} adults, {{children}} children, and {{infants}} infants.</h4>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://visualpharm.com/assets/919/Flight%20Seat-595b40b75ba036ed117d9cff.svg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Gordian Task 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script async src="https://test-ancil-overlay.herokuapp.com/v1/funnel/display.js?agent_id={{name}}&session_id={{session_id}}"></script>
    <script type="text/javascript">
        function exportToForm(session_, agent_) {
            var data = JSON.stringify(false);

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                console.log(this.responseText);
                
            }});
            var url = "https://test-ancil-overlay.herokuapp.com/v1/funnel/pull_cache?"+agent_+"&session_id="+session_;
            xhr.open("GET", url);

            xhr.send(data);
        };
        
        var images = document.getElementsByTagName("img");
        for (var i = 0, len = images.length, img; i < len; i++) {
            img = images[i];
            img.addEventListener("click", function() {
                var session_id = {{session_id}};
                var agent_id = "{{name}}";

                exportToForm(session_id, agent_id);
            });
        }

    </script>
</body>

</html>
