<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gordian - Your Details</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Gordian - API Usage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Enter your Details</h1>
        <h2 class="my-4 text-center text-md-left">You have chosen: SFO (7:20) -> JFK (8:45)</h2>
      <div class="row text-center text-lg-left">
       <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
        <!---<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="number-adults">Number of adults</label>
    <input type="text" class="form-control" id="number-adults" placeholder="# of adults">
  </div>
  <div class="form-group">
    <label for="number-infants">Number of infants</label>
    <input type="text" class="form-control" id="number-infants" placeholder="# of infants">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Number of children</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="# of children">
  </div>    
  <button type="submit" class="btn btn-primary">Submit</button> 
</form> --->

        </div>
      

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
